ETHEREUM_URL=http://127.0.0.1:8545/
ETHEREUM_CHAIN_ID=31337
WALLET_ADDRESS=0x1341048E3d37046Ca18A09EFB154Ea9771744f41
WALLET_SECRET=
ERC721_ADDRESS=0x3A5603b538fbf0A0beEF4A6375BD6cDa335f1aA2
ERC1155_ADDRESS=0x14dbBdCB14e5F62Cd72C43636322C0a7ec546EdB
LAMBDA_OPENSEA_ARN=
OPENSEA_API_BASE_URL=https://testnets-api.opensea.io

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=ap-northeast-1
